table { width: 100%; }
th { text-align: left;}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color: #E9E9E9;}
.in_progress { color: #F31673; }
.done { color: #26F42E; }
.navbar { color: #F31673; text-align: center;}
.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #000000;
    background-image: linear-gradient(to bottom,  #000000,  #000000);
    background-repeat: repeat-x;
    border: 2px solid #FFCE51;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #bbbbbb;
    background-color: #1a1919
}
a { color: #FFCE51; }
a:hover { color: #ffb700; }


@media print {
    body { color: #ffffff; }
    .navbar, #intro, input[type="checkbox"] { display: none; }
    a { color: #ffffff; text-decoration: underline; }
    .tab-content > .tab-pane, .pill-content > .pill-pane { display: block; }
    .tab-pane { page-break-after: always; }

}
